@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
   
</div>

@section Scripts
{
    <script type="text/javascript">
        FetchItems();

        function FetchItems() {
            $.ajax({
                method: "GET",
                url: "http://localhost:65359/api/items"
            }).success(function (data) {
                ShowData(data);
            });
        }
        function ShowData(data) {
            console.log(data);
            for (var i = 0; i < data.length; i++) {
                AppendItem(data[i]);
            }
        }
        function AppendItem(item) {
            items.Categories.forEach();
            for (var i = 0; i < item.Categories.length; i++) {
                
            }

            var div = $("<div></div>");
            div.addClass("col-md-4");
            var title = $("<h2></h2>").text(item.Title);
            var description = $("<p></p>").text(item.Description);
            div.append(title);
            div.append(description);

            $('.row').append(div);
        }

        


    </script>
}
