@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <form class="form-inline col-md-12" style="margin-top: 1em;margin-bottom: 1em" id="filters">
        <div class="form-group">
            <label for="searchTerm">Search:</label>
            <input class="form-control" id="searchTerm" name="searchTerm">
        </div>
        <div class="form-group">
            <label for="orderBy">Select order:</label>
            <select class="form-control" id="orderBy" name="orderBy">
                @foreach (var prop in (List<string>) ViewData["properties"])
                {
                    <option>@prop</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label for="category">Select category:</label>
            <select class="form-control" id="category" name="categoryId">
                <option value="default" selected="selected">All</option>
                @foreach (var cat in (List<KeyValuePair<int, string>>) ViewData["categories"])
                {
                    <option value="@cat.Key">@cat.Value</option>
                }
            </select>
        </div>
    </form>
    <div class="col-md-12" id="itemWrap">
    </div>

</div>

@section Scripts
{
    <script src="~/Scripts/Custom/ItemsAjax.js"></script>
    <script type="text/javascript">
        
        FetchItems();

        $("#filters").submit(function (e) {
            e.preventDefault();
        });
        $("#filters select").change(function () {
            console.log("Form input changed");
            RequestFilters();
        });
        $("#searchTerm").keyup(function () {
            console.log("searchTerm changed");
            RequestFilters();
        });
    </script>
}
